.App {
  text-align: center;
  background-color: rgb(27, 2, 2);
  color: powderblue;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.App-Link:link {
  color: powderblue;
}

.App-Link:visited {
  color: plum;
}

.App-Link:hover {
  color: red;
}

.App-Link:active {
  color: white;
}

html {
  background-color: rgb(27, 2, 2);
}